{% extends 'base.html' %}

{% block content %}

  <div class="bg"></div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <ul class="list-group no-hover" id="ratings">
        <li class="list-group-item">
          <a href="{{ url_for('users_show', user_id=rating.user.id) }}">
            <img src="{{ rating.user.image_url }}" alt="" class="timeline-image">
          </a>
          <div class="rating-area">
            <div class="rating-heading">
              <a href="/users/{{ rating.user.id }}">@{{ rating.user.username }}</a>
              {% if g.user %}
                {% if g.user.id == rating.user.id %}
                  <form method="POST"
                        action="/ratings/{{ rating.id }}/delete">
                    <button class="btn btn-outline-danger">Delete</button>
                  </form>
              {% endif %}
              {% endif %}
            </div>
            <p class="single-message">{{ rating.text }}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}