{% extends 'base.html' %}

{% block content %}


<img src="{{ user.image_url }}" alt="Image for {{ user.username }}" height="40" width="40" id="profile-avatar" >
<div class="row full-width">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-9">
        <ul class="user-stats nav nav-pills">
          <li class="stat">
            <p class="small">Ratings</p>
            <h4>
              <a href="/users/{{ user.id }}">{{ user.ratings | length }}</a>
              </h4>
              
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <h4 id="sidebar-username">@{{ user.username }}</h4>
  </div>

  {% block user_details %}
  {% endblock %}

</div>

{% endblock %}