{% extends 'users/detail.html' %}
{% block user_details %}
  <div class="col-sm-6">
    <ul class="list-group" id="ratings">

      {% for rating in ratings %}

        <li class="list-group-item">
          <a href="/ratings/{{ rating.id }}" class="rating-link"/>

          <a href="/users/{{ user.id }}">
            <img src="{{ user.image_url }}" alt="user image" class="timeline-image">
          </a>

          <div class="rating-area">
            <a href="/users/{{ user.id }}">@{{ user.username }}</a>
            <p>{{ rating.text }}</p>
          </div>
          {% if g.user.id != rating.user_id %}

          {% endif %}

          <form method="DELETE" action="/ratings/{{ rating.id }}/delete" >
            <button type="button" class="btn-close" aria-label="Close"></button>
          </form>
        </li>

      {% endfor %}

    </ul>
  </div>
{% endblock %}